### **Дополнительное задание №2.1**

---

**Пункт 1:**

Напишите программу, которая принимает список строк, содержащих числа, и преобраует их в список целых чисел, возведённых в куб. Используйте функции `map()` и `lambda`.

**Пример:**

```python
# Входные данные
numbers = ['1', '2', '3', '4', '5']

# Ожидаемый результат
[1, 8, 27, 64, 125]
```

In [7]:
list(map(lambda x: x**3, [int(i) for i in input().split()]))

1 2 3 4 5

[1, 8, 27, 64, 125]

---

**Пункт 2:**

Используя `filter()` и `lambda`, из списка слов отфильтруйте только те, которые начинаются и заканчиваются на одну и ту же букву.

**Пример:**

```python
# Входные данные
words = ['level', 'python', 'radar', 'world', 'rotor']

# Ожидаемый результат
['level', 'radar', 'rotor']
```

In [8]:
list(filter(lambda x: x[0] == x[-1], [i for i in input().split()]))

level python radar world rotor

['level', 'radar', 'rotor']

---

**Пункт 3:**

С помощью `reduce()` и `lambda` найдите наибольшее число в списке чисел.

**Подсказка:** Функция `reduce()` находится в модуле `functools`.

**Пример:**

```python
# Входные данные
numbers = [47, 11, 42, 102, 13]

# Ожидаемый результат
102
```

In [4]:
from functools import reduce

print(reduce(lambda x, y: max(x, y), [int(i) for i in input().split()]))

47 11 42 102 13
102

---

**Пункт 4:**

Объедините два списка чисел в один список кортежей, где каждый кортеж состоит из элементов исходных списков, возведённых в квадрат и куб соответственно. Используйте функции `map()`, `lambda` и `zip()`.

**Пример:**

```python
# Входные данные
list1 = [1, 2, 3]
list2 = [4, 5, 6]

# Ожидаемый результат
[(1, 64), (4, 125), (9, 216)]
```

In [9]:
list1 = map(lambda x: x*x, [int(i) for i in input().split()])
list2 = map(lambda x: x**3, [int(i) for i in input().split()])

list(zip(list1, list2))

1 2 3
4 5 6

[(1, 64), (4, 125), (9, 216)]

---

**Пункт 5:**

Напишите программу, которая принимает строку с целыми числами, разделёнными запятыми, и вычисляет сумму чётных чисел из этой строки. Используйте функции `map()`, `filter()`, `lambda` и `reduce()`.

**Пример:**

```python
# Входные данные
numbers = '1,2,3,4,5,6,7,8,9,10'

# Ожидаемый результат
30  # (2 + 4 + 6 + 8 + 10)
```

In [10]:
print(reduce(lambda x, y: x + y, filter(lambda x: x%2 == 0, map(int, input().split(",")))))

1,2,3,4,5,6,7,8,9,10
30


---

**Пункт 6:**

Используя `map()` и `lambda`, преобрауйте список температур в граусах Цельсия в список температур в граусах Фаренгейта. Формула преобраования: F = C * 9/5 + 32.

**Пример:**

```python
# Входные данные
celsius = [0, 15, 30, 100]

# Ожидаемый результат
[32.0, 59.0, 86.0, 212.0]
```

In [11]:
list(map(lambda c: c * 9 / 5.0 + 32, map(int, input().split())))

0 15 30 100

[32.0, 59.0, 86.0, 212.0]

---

**Пункт 7:**

У вас есть список чисел. Используя комбинацию функций `filter()`, `map()` и `lambda`, получите новый список, содержащий квадраты нечётных чисел из исходного списка.

**Пример:**

```python
# Входные данные
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9]

# Ожидаемый результат
[1, 9, 25, 49, 81]
```

In [14]:
list(map(lambda x: x*x, filter(lambda y: y%2 == 1, map(int, input().split()))))

1 2 3 4 5 6 7 8 9

[1, 9, 25, 49, 81]

---
**Пункт 8:**

С помощью функции `reduce()` и `lambda` вычислите произведение всех чисел в списке.

**Пример:**

```python
# Входные данные
numbers = [1, 2, 3, 4, 5]

# Ожидаемый результат
120  # (1 * 2 * 3 * 4 * 5)
```

In [17]:
reduce(lambda x, y: x*y, list(map(int, input().split())))

1 2 3 4 5

120

---

**Пункт 9:**

Дан список строковых представлений чисел. Используя `map()`, `lambda` и метод строки `isdigit()`, преобразуйте список, заменив нечисловые строки на число 0.

**Пример:**

```python
# Входные данные
strings = ['10', '20', 'abc', '30', 'def']

# Ожидаемый результат
[10, 20, 0, 30, 0]
```

In [18]:
list(map(lambda x: int(x) if x.isdigit() else 0, input().split()))

10 20 abc 30 def

[10, 20, 0, 30, 0]

---

**Пункт 10:**

Есть два списка координат X и Y одинаковой длины. Используя `zip()` и `lambda`, объедините их в список точек — кортежей `(x, y)`.

**Пример:**

```python
# Входные данные
x_coords = [1, 2, 3]
y_coords = [4, 5, 6]

# Ожидаемый результат
[(1, 4), (2, 5), (3, 6)]
```

In [19]:
list(zip(map(int, input().split()), map(int, input().split())))

1 2 3
4 5 6

[(1, 4), (2, 5), (3, 6)]

---

**Пункт 11:**

Напишите программу, которая принимает список слов и возвращает словарь, где ключами являются слова, а значениями — длины этих слов. Используйте `map()` и `lambda`.

**Пример:**

```python
# Входные данные
words = ['apple', 'banana', 'cherry']

# Ожидаемый результат
{'apple': 5, 'banana': 6, 'cherry': 6}
```

In [21]:
words = input().split()
dict(zip(words, map(lambda w: len(w), words)))

apple banana cherry

{'apple': 5, 'banana': 6, 'cherry': 6}

---

**Пункт 12:**

Используя `filter()` и `lambda`, из списка чисел оставьте только простые числа.

**Пример:**

```python
# Входные данные
numbers = [2, 3, 4, 5, 6, 7, 8, 9, 10]

# Ожидаемый результат
[2, 3, 5, 7]
```

*Подсказка:* Для проверки числа на простоту может понадобиться дополнительная функция.

In [22]:
list(filter(lambda n: n > 1 and all(n % i != 0 for i in range(2, int(n ** 0.5) + 1)), list(map(int, input().split()))))

2 3 4 5 6 7 8 9 10

[2, 3, 5, 7]

---
**Пункт 13:**

Объедините три списка чисел в один список сумм соответствующих элементов. Используйте `map()`, `lambda` и `zip()`.

**Пример:**

```python
# Входные данные
list1 = [1, 2, 3]
list2 = [4, 5, 6]
list3 = [7, 8, 9]

# Ожидаемый результат
[12, 15, 18]  # (1+4+7, 2+5+8, 3+6+9)
```

In [23]:
list(map(lambda x: sum(x), zip(map(int, input().split()), map(int, input().split()), map(int, input().split()))))

1 2 3
4 5 6
7 8 9

[12, 15, 18]

---

**Пункт 14:**

С помощью `reduce()` и `lambda` подсчитайте количество появлений каждого символа в строке (без учета регистра), и выведите символ, который встречается чаще всего.

**Пример:**

```python
# Входные данные
text = 'Functional programming with lambda functions'

# Ожидаемый результат
'n'  # n встречается чаще всего
```

*Подсказка:* Возможно, понадобится преобразовать строку в список символов и использовать словарь для подсчета.

In [26]:
from functools import reduce

text = input().lower()
lam = lambda a, c: {**a, **{c: a.get(c, 0) + 1}} if c != ' ' else a
max(reduce(lam, text, {}), key=lambda k: reduce(lam, text, {}).get(k))

Functional programming with lambda functions

'n'

---

**Пункт 15:**

Используя `map()`, `filter()`, `reduce()` и `lambda`, из заданного списка слов найдите общее количество гласных букв.

**Пример:**

```python
# Входные данные
words = ['python', 'lambda', 'functions', 'map', 'filter', 'reduce']

# Ожидаемый результат
13
```

*Подсказка:* Гласные буквы — 'a', 'e', 'i', 'o', 'u'.

In [28]:
from functools import reduce

reduce(lambda a, x: a + x, map(lambda w: len(list(filter(lambda c: c in 'aeiouy', w.lower()))), input().split()))

python lambda functions map filter reduce

13

---